* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}

.nav-link {
  color: #f9d423 !important;
}

.basket {
  position: relative;
}
.basket #basket-count {
  position: absolute;
  top: -2px;
  right: -2px;
  color: orange;
}

.product-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product-card-body .productName {
  text-transform: uppercase;
  font-size: 1rem;
  color: #3211e7;
}
.product-card-body h5 {
  color: #3211e7;
  font-size: 1.1rem;
}
.product-card-body .card-description {
  text-transform: capitalize;
}

.card-footer {
  padding: 0.75rem 0.8rem !important;
  display: flex;
  justify-content: space-between;
}
.card-footer span {
  font-size: 14px;
}

.buy-button {
  background: linear-gradient(to right, #005c97, #363795);
  color: white;
  padding: 3px 7px;
  border-radius: 10px;
  cursor: pointer;
}

.select-format {
  border: 1.5px solid crimson;
  padding: 2px 5px;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
