$linear-background: linear-gradient(
  to right,
  #667db6,
  #0082c8,
  #0082c8,
  #667db6
);
$linear-color: linear-gradient(to right, #005c97, #363795);
$text-color: #3211e7;
$navbar-text-color: #f9d423;
