.product-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .productName {
    text-transform: uppercase;
    font-size: 1rem;
    color: $text-color;
  }
  h5 {
    color: $text-color;
    font-size: 1.1rem;
  }
  .card-description {
    text-transform: capitalize;
  }
}
.card-footer {
  span {
    font-size: 14px;
  }
}
.buy-button {
  background: $linear-color;
  color: white;
  padding: 3px 7px;
  border-radius: 10px;
  cursor: pointer;
}
